
  <form class="add-form">
    <mat-form-field class="example-full-width">
      <mat-label>First Name</mat-label>

      <input matInput placeholder="Ex. Pizza" value=" ">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Last Name</mat-label>

      <input matInput placeholder="Ex. Pizza" value=" ">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>E-mail Address</mat-label>

      <input matInput placeholder="Ex. Pizza" value=" ">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Phone Number</mat-label>

      <input matInput placeholder="Ex. Pizza" value=" ">
    </mat-form-field>

    <br>
    <br>
    <div class="add-user">
    <button mat-raised-button color="primary">Add User</button>
    </div>


  </form>












